@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-lightGray font-cyber;
  }
}

@layer utilities {
  .glass {
    @apply bg-cardDark backdrop-blur-md border border-gray-700/50 shadow-xl;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
