@import "tailwindcss";

@theme {
  --color-dark: #0B0C10;
  --color-cardDark: rgba(31, 41, 55, 0.7);
  --color-neonGreen: #66FCF1;
  --color-mutedTeal: #45A29E;
  --color-lightGray: #C5C6C7;
  --color-alertRed: #FF4136;
  --color-warnOrange: #FF851B;
  --font-cyber: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: var(--color-lightGray);
    font-family: var(--font-cyber);
  }
}

@layer utilities {
  .glass {
    background-color: rgb(11 12 16 / 0.8);
    backdrop-filter: blur(24px);
    border: 1px solid rgb(55 65 81 / 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}